@font-face {
    font-family: MyFont;
    src: url(VICTM___.TTF);
}

.no-padding {
    padding: 0;
    margin: 0;
}


nav.navbar {
    background-color: #C8B485;
    line-height: 20px;
    height: auto;
    margin-bottom: 0;
    border: none;
}


button[data-target="#bs-example-navbar-collapse-1"] {
    width: 50px;
    border: none;
    margin-right: 0;
}

button[data-target="#bs-example-navbar-collapse-1"]:hover {
    background-color: inherit !important;
}

.navbar-toggle .icon-bar {
    width: 30px;
    height: 3px;
    background-color: #000 !important;
}

.navbar-default .navbar-brand {
    box-sizing: border-box;
    height: 100%;
    text-align: center;
    color: #000;
    background-color:#D2C29B;
}

.navbar-nav {
	box-sizing:border-box;
    display: block;
}
.navbar-nav {
    margin:0;
}

.navbar-nav a:first-child img {
	width:18px;
	height:18px;
	vertical-align:top;
}

.navbar-nav a:last-child span {
    font-weight: 100;
    font-size:18px;
    
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    position: absolute;
    z-index: 2;
    background-color: inherit;
}


/* navbar */


/* main section */

.wrapper .row {
    padding-bottom: 1em;
}

.wrapper .row:first-child {
    position: relative;
    z-index: 0;
}

.wrapper .button-group {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 1;
}

.wrapper {
    color: #fff;
}

.wrapper span {
    font-size: 18px;
}

.wrapper i {
    font-size: 24px;
}

.wrapper .wrapper-heading {
    position: absolute;
    left: 1em;
    bottom: 1.5em;
}

.wrapper .expert img {
    float: left;
    padding-right: 1em;
}

.wrapper .expert p {
    font-size: 20px;
    margin-bottom: 0;
}

.wrapper .expert i {
    color: #EED002;
}
.expert {
	background-color:#ffffff;
}

.progress {
    height: 10px;
    margin-top: .5em;
    padding: 1px;
    border: 1px solid #DFDCB0;
}

.progress-bar.progress-bar-success {
    background-color: #B9E005;
    border-radius: 5px;
}

.styled {
    color: #666;
}

.wrapper .overview h3 {
    font-weight: 600;
}

.wrapper .overview {
    color: #666;
}

.wrapper .overview .btn {
    background-color: #fff;
    color: #2158D5;
}

.wrapper .overview .btn:visited {
    border: none;
}

.container-fluid.container_accordion,
.container-fluid.container_accordion .panel-default,
.container-fluid.container_accordion .panel-heading {
    background-color: #F6F5E7;
}

.container-fluid.container_accordion .panel-heading {
    border-top: 2px dashed #E4E3D0;
    border-bottom: 2px dashed #E4E3D0;
    box-shadow: 1px 2px 2px lightgray;
    width: 100%;
    position: relative;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.container-fluid.container_accordion .panel-heading:after {
    content: "";
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 0;
    bottom: 0;
    left: 10px;
    right: 10px;
    border-radius: 100px / 10px;
}

.panel-heading a {
    font-weight: 800;
}

.panel-heading a:hover {
    text-decoration: none;
}

.panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';
    content: "\e113";
    float: right;
    color: grey;
    border: 1px solid #FCF3B7;
    border-radius: 50%;
}

.panel-heading .accordion-toggle.collapsed:after {
    content: "\e114";
}


/* map styles */

#collapse1 {
    height: auto;
}

#map {
    width: 100%;
    height: 20em;
    border-radius: .5em;
}

a[href^="http://maps.google.com/maps"] {
    display: none !important
}

a[href^="https://maps.google.com/maps"] {
    display: none !important
}

.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
    display: none;
}

.gmnoprint div {
    background: none !important;
}


/* end of map styles */

.timeline {
    position: relative;
    padding: 20px 0 20px;
    list-style: none;
}

.timeline:before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 3px;
    margin-left: -1.5px;
    border-color: #eeeeee;
}

.timeline>li {
    position: relative;
    padding: 0;
    margin-bottom: .5em;
    box-shadow: 0px 2px 2px 1px lightgray;
    border-radius: 5px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li>.timeline-badge {
    width: 50px;
    height: 50px;
    margin-left: -25px;
    position: absolute;
    z-index: 100;
    top: 45%;
    left: -20%;
    border-radius: 50%;
    text-align: center;
    font-family: MyFont;
    font-size: 1.4em;
    color: #A39A4A;
}

.timeline>li>.timeline-badge:before {
    width: 100px;
    color: #A39A4A;
    height: 100px;
    position: absolute;
    left: 50px;
    top:50px;
}

.timeline .card {
    background-color: transparent;
    border-radius: 5px;
}

.timeline img {
    margin: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.timeline li .card-block {
    background-color: #fff;
    padding: 0 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
/*  */

.svg_container {
	background-color:#ffffff;
	padding-bottom:4em;
}

.shape {
	width: auto;
	height: auto;
}

.svg_container .row h3 {
	font-weight: 600;
	letter-spacing:1.1px;
	margin-top:0;
}

.svg_container .btn {
	text-transform: uppercase;
	background-color:#FFDF06;
	color:#51490A;
	border:none;
}

footer {
	background-color:#453C25
}

footer ul{
	padding:1em;
	margin-bottom:0;
}

footer ul a {
	color:#fff;
	letter-spacing:1.2px;
}



footer i {
	color:#fff;
	padding-top: 0.5em;
}

footer span {
	color:#6D603E;
}